.card{
    width: 40rem;
    padding: 1rem;
    background-color: rgb(213, 218, 213);
   
}

.reg-form{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.btn-class{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}
