

.income-div{
    margin-top: 2rem;
}

.create{
    width: 25rem;

}

.create-div{
    display: flex;
    justify-content: center;
}


#create{
    margin-left: 10px;
}

.table-button{
    padding-top: 10px;
}
