<!-- <h1>
    Welcome To our Budget Calculator
</h1>
<p> Please Login or Register Above to get started</p> -->

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Budgetarian</h1>
                    <p class="lead text-white-50 mb-4">A whole new way to create and manage an effective budget and track savings goals</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/register">Get Started</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<h1 class="text-center fw-bolder ">Features</h1>

<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Profiles</h2>
                <p>Create a  Custom profile and save any new monthly expenses and view savings based on monthly income. Revist anytime to track changes.</p>
              
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0"> 
               <img src="../../../assets/images/logo.jpg" alt="Logo" height="250" width="250">
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Track Savings Goals</h2>
                <p>Manage future purchases based on price and amount willing to save each month. </p>
            </div>
        </div>
    </div>
</section>