
.card{
    width: 20rem;
    padding: 1rem;
    margin-top: 5rem;
    background-color: rgb(213, 218, 213);

}
.btn-class{
    padding-top: 2rem;
    justify-content: space-around;
    display: flex;
}

.login-form{
    display: flex;
    justify-content: center;
}